{% extends './base.html' %}

{% block content %}

<h1 class="display-2"> <center>_Re_</center> </h1>  
<h1 class="display-2"> <center>trace</center> </h1>  
<div class="container">
    <ul>
        <li><h3>Retrace your steps so you can beteer organize your business</h3></li>
        <li><h3>Keep track of shift hours</h3></li>
        <li><h3>Organize and comunicate with your employes</h3></li>
        <li><h3>Notice Board and Taks list</h3></li>
        <li><h3>Login or Register to try</h3></li>
    </ul>
</div>    
   
{% endblock content %}